@model EDI.ViewModels.UserViewModels.UserChangePasswordViewModel;

<script>
    $('#loading-icon').show();
    $(window).on('load', function () {
        $('#loading-icon').hide();
    });
</script>

<main class="main main-register">
    <form asp-controller="User" asp-action="ChangePassword" method="post">
        <section class="section sign-in section-padding">
            <div class="headline1">
                Change password
            </div>

            <div class="sign-in-credentials">
              
                <input asp-for="OldPassword" type="password"  placeholder="Old password">
                <span asp-validation-for="OldPassword" class="text-danger"></span>

                <input asp-for="NewPassword" type="password"  placeholder="New password">
                <span asp-validation-for="NewPassword" class="text-danger"></span>

                <input asp-for="ConfirmNewPassword" type="password" placeholder="Confirm password">
                <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
            </div>

            <div class="sign-in-buttons ">
                <button type="submit" class="signin-button primary-button">Submit</button>
            </div>
            <div asp-validation-summary="All" class="text-danger"></div>

        </section>
    </form>
</main>

@{
    await Html.RenderPartialAsync("ValidationScriptsPartial");
}

